@import "normalize";
@import "_mixins";
@import "_variables";

body {
	display: flex;
	flex-flow: column;
	min-height: 100vh;
	background-color: #fefefe;
	font: normal 16px/145% 'Inter', sans-serif;
	
	@include responsive(desktop) {
		font: normal 20px/160% 'Inter', sans-serif;
	}
	
	&.menu-opened {
		main,
		footer {
			display: none;
		}
	}
}

h2,
h3 {
	font-weight: 500;
	margin: 0;
}

h2 {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 40px;
	line-height: 1;
	margin-bottom: 20px;
	padding: 0 20px;
	
	@include responsive(desktop) {
		font-size: 80px;
		padding: 0 40px;
		margin-bottom: 40px;
	}
}

h3 {
	line-height: 150%;
	font-size: 24px;
	text-transform: uppercase;
	margin-bottom: .5rem;
	
	@include responsive(landscape) {
		font-size: 40px;
		margin-bottom: 20px;
	}
	
	@include responsive(desktop) {
		font-size: 32px;
		margin-bottom: 20px;
	}

	a {
		text-decoration: none;
	}
}

p {
	margin: 0;
	font-size: 16px;
	line-height: 145%;
	
	@include responsive(desktop) {
		font-size: 20px;
		line-height: 160%;
	}
}

.wrapper {
	padding: 0 40px;
}

a {
	transition: $transition;

	&:hover {
		opacity: .9;
	}
}


.header {
	background-color: $black;
	box-sizing: border-box;
	display: flex;
	flex-flow: column;
	padding: 20px 20px 40px;
	height: 100vh;

	@include responsive(desktop) {
		padding: 40px;
	}

	ul {
		display: flex;
		padding: 0;
		margin: 0;
	}

	a {
		color: $white;
		text-decoration: none;
		display: flex;
	}
	
	&__logo {
		img {
			max-width: 200px;
		}
	}
	
	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	
	&__menu {
		display: flex;
		align-items: center;

		@include responsive(device) {
			display: none;
		}

		li {
			list-style: none;
			margin: 0 20px;
			
			@include responsive(device) {
				margin: 0 0 20px;
			}

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}

			@include responsive(desktop) {
				font-size: 24px;
			}

			@include responsive(landscapedesktop) {
				font-size: 20px;
			}
		}
		
		&.opened {
			display: flex;
			position: absolute;
			right: 0;
			bottom: 0;
			top: 72px;
			left: 0;
			background-color: $black;
			align-items: flex-start;
			padding-top: 20px;
			
			ul {
				flex-flow: column;
				padding: 0 20px;
			}
		}
	}
	
	&__title {
		color: $white;
		margin: auto 0;
		
		h1 {
			font-weight: 500;
			text-transform: uppercase;
			margin: 0;
			font-size: 38px;
			letter-spacing: 1px;
			line-height: 1;

			@include responsive(largedesktop) {
				letter-spacing: 2px;
				font-size: 120px;
			}

			@include responsive(desktop) {
				font-size: 100px;
			}

			@include responsive(tablet) {
				font-size: 80px;
			}
		}
		
		span {
			display: block;
			
			&.legal {
				@include responsive(tablet) {
					margin-left: 6%;
				}

				@include responsive(landscapedesktop) {
					margin-left: 10%;
				}
				
				@include responsive(largedesktop) {
					margin-left: 17%;
				}
			}
			
			&.platform {
				color: $pink;
				display: flex;
				align-items: baseline;

				@include responsive(tablet) {
					margin-left: 15%;
				}

				@include responsive(landscapedesktop) {
					margin-left: 20%;
				}

				@include responsive(largedesktop) {
					margin-left: 31%;
				}
			}
			
			.small {
				color: $white;
				font-size: 16px;
				margin-left: 8px;
				
				@include responsive(desktop) {
					margin-left: 20px;
					font-size: 32px;
				}
			}
			
			&.creative {
				@include responsive(tablet) {
					margin-left: 15%;
				}

				@include responsive(landscapedesktop) {
					margin-left: 20%;
				}

				@include responsive(largedesktop) {
					margin-left: 31%;
				}
			}
			
			&.industry {
				@include responsive(tablet) {
					margin-left: 25%;
				}

				@include responsive(desktop) {
					margin-left: 40%;
				}
				
				@include responsive(largedesktop) {
					margin-left: 45%;
				}
			}
		}
		
		.subtitle {
			line-height: 1;
			font-weight: 500;
			color: $pink;
			font-size: 24px;
			
			@include responsive(mobile) {
				margin-top: 20px;
				font-size: 16px;
			}

			@include responsive(tablet) {
				margin-left: 7%;
			}

			@include responsive(desktop) {
				margin-left: 10%;
				font-size: 32px;
			}
			
			@include responsive(largedesktop) {
				margin-left: 17%;
			}
		}
	}
	
	&__bottom {
		margin-top: auto;
		color: $white;
		max-width: 600px;

		@include responsive(tablet) {
			margin-left: 26%;
		}

		@include responsive(desktop) {
			margin-left: 41%;
		}
		
		@include responsive(largedesktop) {
			margin-left: 45%;
		}
	}
}

.mobile-menu {
	@include responsive(device) {
		width: 40px;
		height: 40px;
		background: url(../images/icon-menu.svg) 0 0 no-repeat;
	}
	
	&.active {
		@include responsive(device) {
			background: url(../images/icon-close.svg) 0 0 no-repeat;
		}
	}
}

.footer {
	background-color: $black;
	border-top: 4px solid $white;
	box-sizing: border-box;
	display: flex;
	flex-flow: column;
	padding: 20px 20px 4px;
	
	@include responsive(landscapedesktop) {
		padding: 40px 40px 24px;
	}
	
	&__menu {
		margin-bottom: 100px;

		@include responsive(tabletdesktop) {
			margin-left: auto;
			margin-bottom: 160px;
		}
		
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			display: flex;
			
			@include responsive(mobile) {
				flex-flow: column;
			}
		}
		
		li {
			margin: 0 0 1rem;

			@include responsive(tabletdesktop) {
				margin: 0 20px;
			}

			&:first-child {
				margin-left: 0;
			}
			
			&:last-child {
				margin-right: 0;
			}
		}

		a {
			color: $white;
			text-decoration: none;
		}
	}
	
	&__bottom {
		display: flex;
		flex-flow: wrap;
		
		@include responsive(mobile) {
			flex-flow: column;
		}
		
		@include responsive(tabletdesktop) {
			justify-content: space-between;
			align-items: flex-end;
		}
	}
	
	&__contacts {
		padding-bottom: 16px;
		
		@include responsive(tabletdesktop) {
			padding-right: 20px;
		}

		a {
			color: $white;
			text-decoration: none;
		}
	}
	
	&__social-network {
		margin-top: 16px;
		
		a {
			margin: 0 16px;

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}
	
	&__terms {
		padding-bottom: 16px;

		@include responsive(mobile) {
			margin-top: 2rem;
		}

		a {
			color: $gray-400;
			text-decoration: none;
			margin: 0 10px;

			@include responsive(mobile) {
				display: block;
				margin: 0 0 10px;
			}

			@include responsive(device) {
				font-size: 14px;
			}

			@include responsive(landscapedesktop) {
				font-size: 16px;
			}

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}
}


.courses {
	@include paddingBlock();
	display: flex;
	flex-flow: column;

	&__list {
		border-bottom: 2px solid $black;
		margin-bottom: 40px;
		
		@include responsive(tabletdesktop) {
			margin-bottom: 56px;
		}
	}

	&__item {
		display: flex;
		align-items: baseline;
		flex-flow: wrap;
		position: relative;
		transition: $transition;
		
		@include responsive(mobile) {
			flex-flow: column;
			padding: 32px 20px 20px;
		}
		
		@include responsive(device) {
			padding: 32px 20px 20px;
		}

		@include responsive(landscapedesktop) {
			padding: 40px;
		}

		&:before {
			content: '';
			height: 2px;
			background-color: $black;
			right: 0;
			left: 0;
			position: absolute;
			top: 0;
		}


		&:hover {
			background-color: $violet;
			color: $white;
			
			a {
				color: $white;
			}
			
			.courses__link {
				a {
					background-image: url('../images/icon-arrow-right-white.svg');
				}
			}
		}
	}
	
	&__type {
		text-transform: uppercase;
		font-size: 20px;
		line-height: 140%;
		
		@include responsive(mobile) {
			margin-bottom: 8px;
		}
		
		@include responsive(tablet) {
			width: 100%;
		}

		@include responsive(desktop) {
			font-size: 24px;
			width: 17%;
		}
	}
	
	&__descr {
		box-sizing: border-box;

		@include responsive(tablet) {
			width: 66%;
			padding-right: 20px;
		}
		
		@include responsive(desktop) {
			width: 58%;
			padding: 0 20px;
		}

		a {
			color: $black;
		}
		
		p {
			margin-bottom: 1rem;
		}
	}
	
	&__price {
		@include responsive(tablet) {
			width: calc(34% - 80px);
		}
		
		@include responsive(desktop) {
			width: calc(25% - 80px);
		}
	}

	&__link {
		display: flex;
		justify-content: flex-end;
		margin: auto 0 0 auto;
		
		@include responsive(tabletdesktop) {
			width: 80px;
		}

		a {
			width: 75px;
			height: 48px;
			display: block;
			background: url(../images/icon-arrow-right.svg) 0 0 no-repeat;
		}
	}

	.btn--outline {
		border-color:  $black;
	}
}

.date {
	margin-bottom: 4px;
	text-transform: uppercase;
}

.price {
	font-weight: 700;
}

.btn {
	line-height: 125%;
	padding: 16px 80px;
	color: $black;
	display: inline-block;
	text-decoration: none;
	margin: 0 auto;
	transition: $transition;
	font-size: 20px;
	
	@include responsive(desktop) {
		font-size: 32px;
	}
	
	&:hover {
		background-color: $black;
		color: $white;
	}
	
	&--sm {
		font-size: 16px;
	}
	
	&--outline {
		border: 2px solid;
	}
	
	&--white {
		background-color: $white;
		border: 2px solid $black;

		&:hover {
			border-color: $white;
		}
	}
}

.bg-black {
	background-color: $black;
}

.webinars {
	@include paddingBlock();
	color: $white;
	display: flex;
	flex-flow: column;
	
	&__list {
		display: flex;
		margin-bottom: 56px;
		
		@include responsive(mobile) {
			flex-flow: column;
		}
	}
	
	&__item {
		padding: 20px;
		border: 10px solid $black;
		box-sizing: border-box;
		transition: $transition;
		display: flex;
		flex-flow: column;
		
		@include responsive(tablet) {
			width: 50%;
		}
		
		@include responsive(desktop) {
			width: 50%;
			margin: 0 20px;
		}
		
		&:hover {
			border-color: $pink;
			
			.btn {
				border-color: $pink;
				background-color: $pink;
			}
		}
	}
	
	&__descr {
		margin-bottom: 40px;

		@include responsive(tabletdesktop) {
			margin-bottom: 56px;
		}

		a {
			color: $white
		}
	}
	
	&__price {
		margin-top: auto;
	}
	
	&__button {
		margin-top: 32px;

		.btn {
			color: $white;
			
		}
	}

	.btn--outline {
		border-color:  $white;
	}
}

.experts {
	@include paddingBlock();
	color: $white;
	display: flex;
	flex-flow: column;
	
	&__list {
		display: flex;
		margin-bottom: 56px;
		
		@include responsive(mobile) {
			flex-flow: column;
		}
	}
	
	&__item {
		display: flex;
		padding: 0 20px;
		flex-flow: wrap;

		@include responsive(device) {
			flex-flow: column;
			margin-bottom: 40px;
		}
		
		@include responsive(landscapedesktop) {
			padding: 0 40px;
			width: 50%;
		}
		
		@include responsive(largedesktop) {
			flex-flow: nowrap;
		}
		
		&:last-child {
			margin-bottom: 0;
		}
	}
	
	&__img {
		border-radius: 25px;
		display: flex;
		justify-content: center;
		min-width: 290px;
		height: 290px;
		overflow: hidden;
		background: linear-gradient(224.97deg, #D745E3 15.29%, #5581F3 84.12%);
		margin-bottom: 20px;
		
		@include responsive(landscapedesktop) {
			margin-right: 20px;
		}
	}
}