@import "normalize";
@import "_mixins";
@import "_variables";

body {
	display: flex;
	flex-flow: column;
	min-height: 100vh;
	background-color: #fefefe;
	font: normal 16px/145% 'Inter', sans-serif;
	
	@include responsive(desktop) {
		font: normal 20px/160% 'Inter', sans-serif;
	}
	
	&.menu-opened {
		main,
		footer {
			display: none;
		}
	}
}

h2,
h3,
h4,
h5 {
	font-weight: 500;
	margin: 0;
}

h2 {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 40px;
	line-height: 1;
	margin-bottom: 20px;
	
	@include responsive(desktop) {
		font-size: 80px;
		margin-bottom: 40px;
	}
}

h3 {
	line-height: 125%;
	text-transform: uppercase;

	@include responsive(device) {
		font-size: 26px;
		margin-bottom: 24px;
	}
	
	@include responsive(landscapedesktop) {
		font-size: 64px;
		margin-bottom: 48px;
	}
}

h4 {
	line-height: 125%;
	font-size: 20px;
	text-transform: uppercase;
	margin-bottom: .5rem;
	
	@include responsive(landscapedesktop) {
		font-size: 40px;
		margin-bottom: 20px;
	}
	
	@include responsive(desktop) {
		font-size: 32px;
		margin-bottom: 20px;
	}

	a {
		text-decoration: none;
	}
}

p {
	margin: 0;
	font-size: 16px;
	line-height: 145%;
	
	@include responsive(desktop) {
		font-size: 20px;
		line-height: 160%;
	}
}

img {
	max-width: 100%;
}

.wrapper {
	padding: 0 40px;
}

a {
	transition: $transition;

	&:hover {
		opacity: .9;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(25px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.header {
	background-color: $black;
	box-sizing: border-box;
	display: flex;
	flex-flow: column;
	padding: 20px 20px 60px;
	min-height: 100vh;

	@include responsive(desktop) {
		padding: 40px;
	}

	ul {
		display: flex;
		padding: 0;
		margin: 0;
	}

	a {
		color: $white;
		text-decoration: none;
		display: flex;
		
		@include responsive(device) {
			font-size: 28px;
		}
	}
	
	&__logo {
		opacity: 0;
		animation: fadeIn 1s .4s forwards;

		img {
			max-width: 200px;
		}
	}
	
	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	
	&__menu {
		opacity: 0;
		animation: fadeIn 1s .4s forwards;
		display: flex;
		align-items: center;

		@include responsive(device) {
			display: none;
		}

		li {
			list-style: none;
			margin: 0 20px;
			
			@include responsive(device) {
				margin: 0 0 24px;
			}

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}

			@include responsive(desktop) {
				font-size: 24px;
			}

			@include responsive(landscapedesktop) {
				font-size: 20px;
			}
		}
		
		a {
			&.current {
				opacity: .5;
			}
		}
		
		&.opened {
			display: flex;
			position: absolute;
			z-index: 9;
			right: 0;
			bottom: 0;
			top: 72px;
			left: 0;
			background-color: $black;
			align-items: flex-start;
			padding-top: 20px;
			
			ul {
				flex-flow: column;
				padding: 0 20px;
			}
		}
	}
	
	&__title {
		color: $white;
		margin: auto 0;
		
		h1 {
			font-weight: 500;
			text-transform: uppercase;
			margin: 0;
			font-size: 32px;
			letter-spacing: 1px;
			line-height: 1.15;

			@include responsive(largedesktop) {
				letter-spacing: 2px;
				font-size: 120px;
			}

			@include responsive(desktop) {
				font-size: 100px;
			}

			@include responsive(tablet) {
				font-size: 72px;
			}
		}
		
		span {
			display: block;
			
			&.legal {
				opacity: 0;
				padding-top: 5px;
				animation: fadeIn 1s .6s forwards;
				@include responsive(tablet) {
					margin-left: 6%;
				}

				@include responsive(landscapedesktop) {
					margin-left: 10%;
				}
				
				@include responsive(largedesktop) {
					margin-left: 17%;
				}
			}
			
			&.platform {
				opacity: 0;
				animation: fadeIn 1s .8s forwards;
				color: $pink;
				display: flex;
				align-items: baseline;

				@include responsive(tablet) {
					margin-left: 15%;
				}

				@include responsive(landscapedesktop) {
					margin-left: 20%;
				}

				@include responsive(largedesktop) {
					margin-left: 31%;
				}
			}
			
			.small {
				color: $white;
				font-size: 16px;
				margin-left: 8px;
				opacity: 0;
				animation: fadeIn 1s 1s forwards;
				
				@include responsive(desktop) {
					margin-left: 20px;
					font-size: 32px;
				}
			}
			
			&.creative {
				opacity: 0;
				animation: fadeIn 1s 1.2s forwards;

				@include responsive(tablet) {
					margin-left: 15%;
				}

				@include responsive(landscapedesktop) {
					margin-left: 20%;
				}

				@include responsive(largedesktop) {
					margin-left: 31%;
				}
			}
			
			&.industry {
				opacity: 0;
				animation: fadeIn 1s 1.4s forwards;
				@include responsive(tablet) {
					margin-left: 25%;
				}

				@include responsive(desktop) {
					margin-left: 40%;
				}
				
				@include responsive(largedesktop) {
					margin-left: 45%;
				}
			}
			
			&.title {
				opacity: 0;
				animation: fadeIn 1s .8s forwards;
				@include responsive(largedesktop) {
					margin-left: 16%;
				}
			}
		}
		
		.subtitle {
			line-height: 1;
			font-weight: 500;
			color: $pink;
			font-size: 24px;
			opacity: 0;
			animation: fadeIn 1s 1.6s forwards;

			@include responsive(mobile) {
				margin-top: 20px;
				font-size: 16px;
			}

			@include responsive(tablet) {
				margin-left: 7%;
			}

			@include responsive(desktop) {
				margin-left: 10%;
				font-size: 32px;
			}
			
			@include responsive(largedesktop) {
				margin-left: 17%;
			}
		}
	}
	
	&__bottom {
		margin-top: auto;
		color: $white;

		.header-target {
			width: 100%;
			max-width: 600px;
			opacity: 0;
			animation: fadeIn 1s 2s forwards;

			@include responsive(tablet) {
				margin-left: 26%;
				width: 74%;
			}

			@include responsive(desktop) {
				margin-left: 41%;
				width: 59%;
			}

			@include responsive(largedesktop) {
				margin-left: 45.5%;
				width: 54.5%;
			}
		}
	}
}

.header-bottom {
	display: flex;
	
	@include responsive(mobile) {
		flex-flow: column;
	}
	
	@include responsive(tablet) {
		flex-flow: wrap;
	}

	@include responsive(largedesktop) {
		margin: 0 16%;
	}
	
	&__item {
		min-width: 280px;
		box-sizing: border-box;
		opacity: 0;

		@include responsive(tablet) {
			width: 50%;
		}

		@include responsive(mobile) {
			margin-bottom: 20px;
		}

		@include responsive(desktop) {
			padding-right: 20px;
		}

		&:last-child {
			@include responsive(device) {
				padding-right: 0;
				margin-bottom: 0;
			}

			@include responsive(desktop) {
				padding-right: 0;
				margin-bottom: 0;
			}
		}
		
		&:nth-child(1) {
			animation: fadeIn 1s 1.2s forwards;

			@include responsive(tablet) {
				padding-right: 20px;
				margin-bottom: 20px;
			}
		}

		&:nth-child(2) {
			animation: fadeIn 1s 1.6s forwards;

			@include responsive(tablet) {
				margin-bottom: 20px;
			}
		}

		&:nth-child(3) {
			animation: fadeIn 1s 2s forwards;

			@include responsive(tablet) {
				padding-right: 20px;
			}
		}

		&:nth-child(4) {
			animation: fadeIn 1s 2.4s forwards;
		}
	}
	
	svg {
		@include responsive(device) {
			font-size: 24px;
		}
		@include responsive(desktop) {
			font-size: 42px;
		}
	}
	
	p {
		text-transform: uppercase;
		letter-spacing: .25px;
		font-size: 18px;
		line-height: 1.3;
		
		span {
			display: block;
		}
	}
}



.mobile-menu {
	@include responsive(device) {
		width: 40px;
		height: 40px;
		background: url(../images/icon-menu.svg) 0 0 no-repeat;
	}
	
	&.active {
		@include responsive(device) {
			background: url(../images/icon-close.svg) 0 0 no-repeat;
		}
	}
}

.footer {
	background-color: $black;
	border-top: 4px solid $white;
	box-sizing: border-box;
	display: flex;
	flex-flow: column;
	padding: 20px 20px 4px;
	
	@include responsive(landscapedesktop) {
		padding: 40px 40px 24px;
	}
	
	&__top {
		display: flex;
		justify-content: space-between;

		@include responsive(device) {
			flex-flow: column;
		}
	}
	
	&__logo {
		max-width: 200px;
		
		@include responsive(device) {
			margin-bottom: 20px;
		}
	}
	
	&__menu {
		margin-bottom: 100px;
		
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			display: flex;
			
			@include responsive(mobile) {
				flex-flow: column;
			}
		}
		
		li {
			margin: 0 0 1rem;

			@include responsive(tabletdesktop) {
				margin: 0 20px;
			}

			&:first-child {
				margin-left: 0;
			}
			
			&:last-child {
				margin-right: 0;
			}
		}

		a {
			color: $white;
			text-decoration: none;
		}
	}
	
	&__bottom {
		display: flex;
		flex-flow: wrap;
		
		@include responsive(mobile) {
			flex-flow: column;
		}
		
		@include responsive(tabletdesktop) {
			justify-content: space-between;
			align-items: flex-end;
		}
	}
	
	&__contacts {
		padding-bottom: 16px;
		
		@include responsive(tabletdesktop) {
			padding-right: 20px;
		}

		a {
			color: $white;
			text-decoration: none;
		}
	}
	
	&__social-network {
		margin-top: 16px;
		
		a {
			margin: 0 16px;

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}
	
	&__terms {
		padding-bottom: 16px;

		@include responsive(mobile) {
			margin-top: 2rem;
		}

		a {
			color: $gray-400;
			text-decoration: none;
			margin: 0 10px;

			@include responsive(mobile) {
				display: block;
				margin: 0 0 10px;
			}

			@include responsive(device) {
				font-size: 14px;
			}

			@include responsive(landscapedesktop) {
				font-size: 16px;
			}

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}
}


.courses {
	@include paddingBlock();
	display: flex;
	flex-flow: column;

	h2 {
		padding: 0 20px;
		
		@include responsive(desktop) {
			padding: 0 40px;
		}
	}

	&__list {
		border-bottom: 2px solid $black;
		margin-bottom: 40px;
		
		@include responsive(tabletdesktop) {
			margin-bottom: 56px;
		}
	}

	&__item {
		display: flex;
		align-items: baseline;
		flex-flow: wrap;
		position: relative;
		transition: background .3s ease-in-out, color .3s ease-in-out, opacity 2s ease-in-out;
		
		@include responsive(mobile) {
			flex-flow: column;
			padding: 32px 20px 20px;
		}
		
		@include responsive(device) {
			padding: 32px 20px 20px;
		}

		@include responsive(landscapedesktop) {
			padding: 40px;
		}

		&:before {
			content: '';
			height: 2px;
			background-color: $black;
			right: 0;
			left: 0;
			position: absolute;
			top: 0;
		}

		&:hover {
			background-color: $violet;
			color: $white;
			
			a {
				color: $white;
			}
			
			.courses__link {
				a {
					background-image: url('../images/icon-arrow-right-white.svg');
				}
			}
		}
	}
	
	&__type {
		text-transform: uppercase;
		font-size: 20px;
		line-height: 140%;
		
		@include responsive(mobile) {
			margin-bottom: 8px;
		}
		
		@include responsive(tablet) {
			width: 100%;
		}

		@include responsive(desktop) {
			font-size: 24px;
			width: 17%;
		}
	}
	
	&__descr {
		box-sizing: border-box;

		@include responsive(tablet) {
			width: 66%;
			padding-right: 20px;
		}
		
		@include responsive(desktop) {
			width: 58%;
			padding: 0 20px;
		}

		a {
			color: $black;
		}
		
		p {
			margin-bottom: 1rem;
		}
	}
	
	&__price {
		@include responsive(tablet) {
			width: calc(34% - 80px);
		}
		
		@include responsive(desktop) {
			width: calc(25% - 80px);
		}
	}

	&__link {
		display: flex;
		justify-content: flex-end;
		margin: auto 0 0 auto;
		
		@include responsive(tabletdesktop) {
			width: 80px;
		}

		a {
			width: 75px;
			height: 48px;
			display: block;
			background: url(../images/icon-arrow-right.svg) 0 0 no-repeat;
		}
	}

	.btn--outline {
		border-color:  $black;
	}
}

.date {
	margin-bottom: 4px;
	text-transform: uppercase;
}

.price {
	font-weight: 700;
}

.btn {
	line-height: 125%;
	padding: 16px 80px;
	color: $black;
	display: inline-block;
	text-decoration: none;
	margin: 0 auto;
	transition: $transition;
	font-size: 20px;
	
	@include responsive(desktop) {
		font-size: 32px;
	}

	&:hover {
		background-color: $black;
		color: $white;
		outline: none;
	}
	
	&:focus,
	&:active {
		outline: none;
		box-shadow: 0 0 4px rgba($black, .5);
	}
	
	&--sm {
		font-size: 16px;
	}
	
	&--outline {
		border: 2px solid;

		&:focus,
		&:active,
		&:hover {
			background-color: $black;
			color: $white;
		}
	}
	
	&--white {
		background-color: $white;
		border: 2px solid $black;

		&:hover {
			border-color: $white;
		}
	}
	
	&--black {
		background-color: $black;
		color: $white;
		border: 2px solid transparent;
		
		&:hover {
			background-color: $white;
			color: $black;
			border-color: $black;
		}
	}
}

.form-group {
	position: relative;
	
	@include responsive(device) {
		margin-bottom: 32px;
	}
	
	@include responsive(desktop) {
		margin-bottom: 40px;
	}
	
	input,
	textarea {
		&.error {
			border-color: $error;
			
			&:focus {
				box-shadow: 0 0 4px rgba($error, .5);
			}
		}
	}

	label {
		font-size: 14px;
		line-height: 1;
		position: absolute;
		display: block;
		margin-top: 4px;

		&.error {
			color: $error;
		}
	}
}

.inp-text {
	border: 2px solid $black;
	width: 100%;
	display: block;
	box-sizing: border-box;
	border-radius: 0;
	resize: none;
	
	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button{
		-webkit-appearance: none;
	}

	@include responsive(device) {
		padding: 12px 10px;
		min-height: 48px;
	}

	@include responsive(desktop) {
		padding: 16px 20px;
		min-height: 60px;
	}
	
	&:focus {
		box-shadow: 0 0 4px rgba($black, .5);
	}

	&:focus,
	&:active {
		border-radius: 0;
		outline: none;
	}
}

.bg-black {
	background-color: $black;
}

.webinars {
	@include paddingBlock();
	display: flex;
	flex-flow: column;

	&.bg-black {
		color: $white;

		.webinars__item {
			a {
				color: $white;
			}

			.btn {
				color: $white;
			}

			&:hover {
				border-color: $pink;

				.btn {
					border-color: $pink;
					background-color: $pink;
				}
			}
		}


		.webinars__descr p {
			color: $white;
		}

		.btn--outline {
			border-color:  $white;
		}
	}

	h2 {
		padding: 0 20px;
		
		@include responsive(desktop) {
			padding: 0 40px;
		}
	}

	a {
		color: $black;
	}
	
	&__list {
		display: flex;
		flex-flow: wrap;
		margin-bottom: 56px;
		
		@include responsive(mobile) {
			flex-flow: column;
		}
	}
	
	&__item {
		box-sizing: border-box;
		transition: $transition;
		display: flex;
		flex-flow: column;
		border: 10px solid transparent;
		
		@include responsive(device) {
			padding: 10px;
		}
		
		@include responsive(tablet) {
			width: 50%;
		}
		
		@include responsive(desktop) {
			padding: 20px;
			width: calc(50% - 40px);
			margin: 0 20px 20px;
		}

		&:hover {
			border-color: $pink;

			.btn {
				border-color: $pink;
				background-color: $pink;
				color: $white;
			}
		}
	}
	
	&__descr {
		margin-bottom: 40px;

		@include responsive(tabletdesktop) {
			margin-bottom: 56px;
		}
	}

	&__price {
		margin-top: auto;
	}
	
	&__button {
		margin-top: 32px;
	}
}

.experts {
	@include paddingBlock();
	display: flex;
	flex-flow: column;

	@include responsive(device) {
		padding-left: 20px;
		padding-right: 20px;
	}
	
	@include responsive(desktop) {
		padding-right: 40px;
		padding-left: 40px;
	}

	&--course {
		@include experts($white)
	}
	
	&--webinar {
		@include responsive(largedesktop) {
			padding-right: calc(16% + 40px);
			padding-left: calc(16% + 40px);
		}
		
		h3,
		.experts__name,
		.experts__descr {
			color: $white;
		}
		
		.experts__descr {
			width: 100%;
		}

		.experts__item {
			width: 100%;
			display: flex;
			align-items: flex-start;
		}
		
		.experts__content {
			flex-flow: wrap;
			
			@include responsive(desktop) {
				width: calc(100% - 320px);
			}
		}
	}
	
	&--page {
		@include experts($black)
	}

	&__list {
		display: flex;
		margin-bottom: 56px;
		
		@include responsive(mobile) {
			flex-flow: column;
		}
	}
	
	&__item {
		display: flex;
		flex-flow: wrap;

		@include responsive(device) {
			flex-flow: column;
			margin-bottom: 40px;
		}
		
		@include responsive(landscapedesktop) {
			width: 50%;
		}

		&:last-child {
			margin-bottom: 0;
		}
		
		&:nth-child(odd) {
			.experts__descr {
				padding-right: 20px;
			}
		}
	}
	
	&__header {
		display: flex;
		justify-content: space-between;
		width: 100%;
		align-items: center;
	}
	
	&__link {
		padding-bottom: 7px;
		display: flex;
		align-items: center;
		transition: $transition;

		&:hover {
			color: $pink;
			
			a {
				color: $pink;
			}
		}
		
		a {
			color: $black;
			text-decoration: none;
			margin-right: 8px;
		}
		
		i {
			color: $black;
		}
	}
	
	&__img {
		border-radius: 25px;
		display: flex;
		justify-content: center;
		min-width: 290px;
		min-height: 290px;
		max-width: 290px;
		overflow: hidden;
		background: $white;
		margin-bottom: 20px;
		border: 2px solid $pink;

		@include responsive(landscapedesktop) {
			margin-right: 20px;
		}
	}

	&__content {
		display: flex;
		align-items: flex-start;
	}
	
	&__name {
		margin-bottom: 20px;
		
		h4 {
			margin-bottom: 0;
		}
		
		p {
			line-height: 1.4;
			max-width: 400px;
			opacity: .8;
			
			@include responsive(device) {
				font-size: 14px;
			}
			
			@include responsive(desktop) {
				font-size: 16px;
			}
		}
	}
	
	&__descr {
		margin-right: auto;
		
		@include responsive(desktop) {
			width: calc(100% - 350px);
		}

		p {
			margin-bottom: 1rem;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	
	&.bg-black {
		color: $white;
	}
}

.about-course {
	@include paddingBlock();
	
	@include responsive(device) {
		padding-right: 20px;
		padding-left: 20px;
	}

	@include responsive(desktop) {
		padding-right: 40px;
		padding-left: 40px;
	}

	@include responsive(largedesktop) {
		margin: 0 16%;
	}
	
	&__content {
		max-width: 800px;
		position: relative;

		@include responsive(device) {
			padding-left: 20px;
		}

		@include responsive(desktop) {
			padding-left: 24px;
		}
		
		&:before {
			content: '';
			position: absolute;
			left: 0;
			height: 100%;
			background-color: $black;
			
			@include responsive(device) {
				width: 2px;
			}
			
			@include responsive(desktop) {
				width: 4px;
			}
		}
	}
}

.you-learn {
	@include paddingBlock();
	
	@include responsive(device) {
		padding-right: 20px;
		padding-left: 20px;
	}

	@include responsive(desktop) {
		padding-left: 16%;
		padding-right: 16%;
	}

	@include responsive(largedesktop) {
		padding-left: 32%;
		padding-right: 16%;
	}
	
	&__list {
		counter-reset: section;
	}

	h3 {
		color: $white;
	}
	
	&__item {
		position: relative;
		color: $white;
		
		@include responsive(device) {
			padding: 24px 0 24px 40px;
		}

		@include responsive(desktop) {
			padding: 32px 0 32px 64px;
		}

		@include responsive(largedesktop) {
			padding: 48px 0 48px 80px;
		}
		
		&:before {
			content: counter(section);
			counter-increment: section;
			position: absolute;
			font-weight: 500;
			line-height: 1.5;
			left: 0;
			top: 0;

			@include responsive(device) {
				font-size: 48px;
			}

			@include responsive(desktop) {
				font-size: 64px;
			}

			@include responsive(largedesktop) {
				font-size: 80px;
			}
		}
		
		&:after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			height: 2px;
			background-color: $white;
		}
		
		p {
			@include responsive(desktop) {
				font-size: 24px;
			}
		}
	}
}

.course-program {
	@include paddingBlock();

	@include responsive(device) {
		padding-right: 20px;
		padding-left: 20px;
	}
	
	@include responsive(desktop) {
		padding-right: 40px;
		padding-left: 40px;
	}

	@include responsive(largedesktop) {
		margin: 0 16%;
	}
	
	&__list {
		ul {
			padding: 0 0 0 24px;
			margin: 0;
		}
		
		li {
			margin-bottom: 1rem;
		}
	}
	
	&__item {
		display: flex;
		transition: $transition;

		@include responsive(device) {
			flex-flow: wrap;
			padding: 1.75rem 1.25rem;
			margin-left: -1.25rem;
			margin-right: -1.25rem;
		}

		@include responsive(desktop) {
			padding: 1.75rem 1rem;
			margin-left: -1rem;
			margin-right: -1rem;
		}
		
		&:nth-child(even) {
			@include responsive(device) {
				background-color: rgba($gray-400, .08);
			}
			@include responsive(tablet) {
				background-color: rgba($gray-400, .08);
			}
		}
		
		&:first-child {
			@include responsive(device) {
				padding-top: 0;
			}
		}

		&:last-child {
			margin-bottom: 0;
		}

		&:hover {
			background-color: rgba($gray-400, .08);
		}
	}
	
	&__number {
		@include responsive(device) {
			width: 50%;
		}

		@include responsive(desktop) {
			width: 25%;
		}

		p {
			font-weight: 500;
			font-size: 16px;
		}
	}
	
	&__time {
		@include responsive(device) {
			width: 50%;
		}

		@include responsive(desktop) {
			width: 25%;
		}

		p {
			font-weight: 500;
			font-size: 16px;
			
			span {
				display: block;
			}
		}
	}
	
	&__descr {
		@include responsive(device) {
			width: 100%;
			margin-top: 1rem;
		}
		
		@include responsive(desktop) {
			width: 50%;
		}

		h5 {
			font-size: 28px;
			margin-bottom: .5rem;
			line-height: 125%;
		}
	}
}

.course-registration {
	@include form();

	&__info {
		margin-top: 48px;

		@include responsive(mobile) {
			width: 100%;
		}
		
		@include responsive(tabletdesktop) {
			width: 50%;
			padding-left: 10px;
			box-sizing: border-box;
		}
		
		.type {
			text-transform: uppercase;
			margin-bottom: 1rem;
		}
		
		h4 {
			line-height: 1.25;
		}
	}
	
	&__info-list {
		display: flex;
		flex-flow: wrap;
	}
	
	&__info-item {
		@include responsive(device) {
			width: 100%;
			margin-bottom: 1rem;
		}

		@include responsive(desktop) {
			width: 50%;
			margin-bottom: 40px;
			padding-right: 20px;
			box-sizing: border-box;
		}
		
		&:nth-child(even) {
			padding-right: 0;
		}
		
		&:last-child {
			margin-bottom: 0;
		}
		
		p {
			text-transform: uppercase;
			letter-spacing: .25px;
			line-height: 1.25;
			
			&.price {
				font-weight: 600;
				font-size: 20px;
			}
		}
	}
}

.contacts {
	@include form();
	
	&__header {
		width: 100%;
		
		h3 {
			margin-bottom: 24px;
		}
		
		p {
			@include responsive(desktop) {
				max-width: 50%;
			}
		}
	}
	
	&__info {
		
		@include responsive(desktop) {
			margin-top: 48px;
			width: 25%;
			display: flex;
			justify-content: flex-end;
		}
	}
}

.messengers {
	&__item {
		
		@include responsive(device) {
			margin-bottom: 24px;
		}
		
		@include responsive(desktop) {
			margin-bottom: 48px;
		}

		&:last-child {
			margin-bottom: 0;
		}
		
		a {
			color: $black;
			text-decoration: none;
			display: flex;
			align-items: center;
			
			&:hover {
				color: $pink;
			}
		}

		svg {
			
			@include responsive(device) {
				font-size: 24px;
			}
			
			@include responsive(desktop) {
				font-size: 40px;
			}
		}
		
		span {
			display: inline-block;
			
			@include responsive(device) {
				margin-left: 8px;
			}
			
			@include responsive(desktop) {
				margin-left: 16px;
			}
		}
	}
}