extends templates/layout
include templates/_mixin-menu

block content
	header.header
		.header__top
			.header__logo
				a(href="/")
					img(src="images/logo.svg" alt="legal&creative")
			.mobile-menu.js-mobile-menu
			nav.header__menu
				-var current = "experts.html"
				+menu(current)
		.header__title
			h1
				span.title Эксперты
				span.platform(style="color: #FF28C3;") Юридических
				span.creative курсов

	main
		.experts.experts--page
			h3 Эксперты
			.experts__list
				each item in experts.slice(0,4)
					.experts__item
						.experts__content(data-scroll)
							.experts__header
								.experts__name
									h4= item.name
							.experts__info
								.experts__img
									img(src= item.img alt= item.name)
								.experts__descr
									each subitem in item.descr
										p= subitem.item


