extends templates/layout
include templates/_mixin-menu

block content
	header.header(style="background-color: #5780D9;")
		.header__top
			.header__logo
				a(href="/")
					img(src="images/logo.svg" alt="legal&creative")
			.mobile-menu.js-mobile-menu
			nav.header__menu
				-var current = "course-item.html"
				+menu(current)
		.header__title
			h1
				span.title Защита
				span.title(style="color: #FC9F8D;") прав и интересов
				span.title актеров
		.header__bottom
			.header-bottom
				.header-bottom__item
					i.iconify(data-icon="akar-icons:arrow-down-right" style="color: #FC9F8D")
					p 4 лекции +
						span ответы на вопросы слушателей
				.header-bottom__item
					i.iconify(data-icon="akar-icons:arrow-down-right" style="color: #FC9F8D")
					p вторник, четверг
						span 19 часов (60-80 минут)
				.header-bottom__item
					i.iconify(data-icon="akar-icons:arrow-down-right" style="color: #FC9F8D")
					p 7 500 рублей
				.header-bottom__item
					i.iconify(data-icon="akar-icons:arrow-down-right" style="color: #FC9F8D")
					p Занятия проходят в&nbsp;формате живых вебинаров

	main
		.experts.experts--course(style="background-color: #5780D9;")
			h3 Эксперты
			.experts__list
				each item in experts
					.experts__item
						.exerts__name
							h4= item.name
						.experts__content
							.experts__img
								img(src= item.img alt= item.name)
							.experts__descr
								each subitem in item.descr
									p= subitem.item