extends templates/layout

block content
	-var current = "webinars.html"
	include templates/incl-header-through

	main
		.webinars
			h2 Вебинары
			.webinars__list
				each item in course
					.webinars__item
						.webinars__content(data-scroll)
							.webinars__descr
								h4
									a(href="webinar-item.html")= item.name
								p= item.descr
							.webinars__bottom
								.webinars__price
									p.date= item.date
									p.price= item.price
								.webinars__button
									a(href="webinar-item.html" class="btn btn--sm btn--outline") Подробнее
