extends templates/layout
include templates/_mixin-menu

block content
	header.header
		.header__top
			.header__logo
				a(href="/")
					img(src="images/logo.svg" alt="legal&creative")
			.mobile-menu.js-mobile-menu
			nav.header__menu
				-var current = "webinars.html"
				+menu(current)
		.header__title
			h1
				span.legal юридическая
				span.platform платформа
					span.small для
				span.creative креативной
				span.industry индустрии
			.subtitle основы для защиты прав и интересов
		.header__bottom
			.header-target
				p Художники, продюсеры, дизайнеры, режиссеры, маркетологи, писатели, блогеры, юристы, архитекторы, веб-дизайнеры, иллюстраторы, дизайнеры интерьеров

	main
		.webinars
			h2 Вебинары
			.webinars__list
				each item in course
					.webinars__item
						.webinars__descr
							h4
								a(href="")= item.name
							p= item.descr
						.webinars__price
							p.date= item.date
							p.price= item.price
						.webinars__button
							a(href="webinar-item.html" class="btn btn--sm btn--outline") Подробнее
