extends templates/layout

block content
	include templates/incl-header-through

	main
		.webinars
			h2 Вебинары
			.webinars__list
				each item in course
					.webinars__item
						.webinars__descr
							h4
								a(href="")= item.name
							p= item.descr
						.webinars__price
							p.date= item.date
							p.price= item.price
						.webinars__button
							a(href="webinar-item.html" class="btn btn--sm btn--outline") Подробнее
